<%= form_with(model: loan_payment, local: true) do |form| %>
  <% if loan_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan_payment.errors.count, "error") %> prohibited this loan_payment from being saved:</h2>

      <ul>
        <% loan_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-3">
    <%= form.label :loaner_id %>
    <%= collection_select(:loan_payment, :loaner_id, Loaner.all, :id, :first_name, {:selected => loan_payment.loaner_id}, { class: "form-control" } ) %>
  </div>

  <div class="field col-3">
    <%= form.label :loan_id %>
    <%= collection_select(:loan_payment, :loan_id, Loan.all, :id, :principal, {:selected => loan_payment.loan_id}, { class: "form-control" } ) %>
  </div>

  <div class="field col-3">
    <%= form.label :mode %>
    <%= form.select(:mode, options_for_select(["CASH", "BANK", "MOMO"], :selected => form.object.status), {}, {class: "form-control"} ) %>
  </div>

  <div class="field col-3">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group col-3">
    <%= form.label :status %>
    <%= form.select(:status, options_for_select(["IN_TRANSIT", "FAILED", "RECEIVED"], :selected => form.object.status), {}, {class: "form-control"} ) %>
  </div>

  <div class="actions col-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
