<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Loan Payments</h1>

  <%= link_to 'Add New Loan Payment', new_loan_payment_path, class: "btn btn-success"%><br /><br />

  <input id="myInputTextFielddo" type="text" class="form-control" placeholder="Search Investors"><br /><br />

  <table id="payments-table" class="table">
    <thead>
      <tr>
        <th>Loaner</th>
        <th>Loan</th>
        <th>Mode</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Next payment date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @loan_payments.each do |loan_payment| %>
        <tr>
          <td><%= loan_payment.loaner.first_name %></td>
          <td><%= loan_payment.loan.principal %></td>
          <td><%= loan_payment.mode %></td>
          <td><%= loan_payment.amount %></td>
          <td><%= loan_payment.status %></td>
          <td><%= loan_payment.next_payment_date %></td>
          <td><%= link_to 'Show', loan_payment %></td>
          <td><%= link_to 'Edit', edit_loan_payment_path(loan_payment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% content_for :page_scripts do %>
    <script>
      function readyy(){
        let oTable = $('#payments-table').DataTable({ pageLength: 50}); 
        $('#myInputTextFielddo').keyup(function(){
            oTable.search($(this).val()).draw() ;
        })
      }
      $(document).ready(readyy)
    </script>

  <% end %>
</div>