<div class="container-fluid">
    <br />

    <%= link_to 'Back', loans_path, class: "col-3" %>
    <br />
    <br />

    <h1 class="col">Add A Loan Payment For <%=@loaner.full_name %> On GHC <%=@loan.amount %> Loan</h1>
    <h1 class="col">Paid GHC <%=@paid%></h1>
    <h1 class="col">Remaining GHC <%=@remaining%></h1>

    <br />

    <%if @remaining < 1 %>
        <h1 class="col">Payment Is Complete You Can't Add Any More</h1>   
    <% else %>
        <%= render 'form', loan_payment: @loan_payment %>
    <% end %>

    <%= render 'loan_payment_table', data: @loan_payments_by_loaner %>


</div>





