<%= form_with(model: loaner, local: true) do |form| %>
  <% if loaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loaner.errors.count, "error") %> prohibited this loaner from being saved:</h2>

      <ul>
        <% loaner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="field col-3">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>

      <div class="field col-3">
        <%= form.label :last_name %>
        <%= form.text_field :last_name,  class: "form-control"  %>
      </div>

      <div class="field col-3">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number,  class: "form-control"  %>
      </div>

      <div class="field col-3">
        <%= form.label :email %>
        <%= form.text_field :email,  class: "form-control"  %>
      </div>
    </div>
  </div>


   <div class="container-fluid">
    <div class="row">
       <div class="field col-3">
        <%= form.label :occupation %>
        <%= form.text_field :occupation,  class: "form-control"  %>
      </div>

      <div class="form-group col-3">
          <%= form.label :id_type %>
          <%= form.select(:id_type, options_for_select(["VOTERS_ID_CARD", "GHANA_CARD", "PASSPORT"], :selected => form.object.id_type), {}, {class: "form-control"} ) %>
      </div>

      <div class="field col-3">
        <%= form.label :id_number %>
        <%= form.text_field :id_number,  class: "form-control"  %>
      </div>

      <div class="field col-3">
      <br />
        <%= form.label :is_verified %>
        <%= form.check_box :is_verified  %>
      </div>
    </div>
  </div>


   <div class="container-fluid">
    <div class="row">
      <div class="field col-3">
        <%= form.label :address %>
        <%= form.text_area :address,  class: "form-control"  %>
      </div>

      <div class="field col-3">
        <%= form.label :status %>
        <%= form.select(:status, options_for_select(["CREATED", "VERIFIED", "PENDING"], :selected => form.object.status), {}, {class: "form-control"} ) %>
      </div>

      <div class="field col-3">
        <%= form.label :id_card %>
        <%= form.file_field :id_card, class: "form-control", accept: "image/jpeg, image/jpg, image/gif, image/png" %>
      </div>

    </div>



    <br />
    <br />

    <div class="actions">
      <%= form.submit "Submit",  class: "btn btn-primary"  %>
    </div>
  </div>

  



<% end %>
