

<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>Contributions</h1>

<%= link_to 'Add New Contribution', new_contribution_path, class: "btn btn-primary"%><br /><br />

<input id="myInputTextFieldd" type="text" class="form-control" placeholder="Search Investors"><br /><br />

<table class="table" id="contributions-table">
  <thead>
    <tr>
      <th>References</th>
      <th>Principal</th>
      <th>Period start</th>
      <th>Period end</th>
      <th>Interest</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contributions.each do |contribution| %>
      <tr>
        <td><%= contribution.investor.first_name %></td>
        <td><%= contribution.principal %></td>
        <td><%= contribution.period_start %></td>
        <td><%= contribution.period_end %></td>
        <td><%= contribution.interest %></td>
        <td><%= contribution.amount %></td>
        <td><%= link_to 'Show', contribution %></td>
        <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
        <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% content_for :page_scripts do %>
  <script>
    function readyy(){
      let oTable = $('#contributions-table').DataTable({ pageLength: 50}); 
      $('#myInputTextFieldd').keyup(function(){
          oTable.search($(this).val()).draw() ;
      })
    }
    $(document).ready(readyy)
  </script>

<% end %>
</div>