<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Loans</h1>

  <br />

  <input id="myInputTextFielddddd" type="text" class="form-control" placeholder="Search Investors"><br /><br />



  <table id="loans-table" class="table">
    <thead>
      <tr>
        <th>Loaner</th>
        <th>Borrowed</th>
        <th>Int</th>
        <th>Amount + Int</th>
        <th>Details</th>
        <th>Payments</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @loans.includes(:loaner).each do |loan| %>
        <tr>
          <td><%= loan.loaner.full_name %></td>
          <td><%= loan.principal %></td>
           <td><%= loan.amount - loan.principal %></td>
          <td><%= loan.amount %></td>
          <td><%= loan.details %></td>
          <td><a href=<%= "/loan_payments/new?loan=#{loan.id}&loaner=#{loan.loaner_id}"%> class="btn btn-success btn-sm text-white">Add/View Loan Payments</a></td>
          <td>
            <%= link_to 'Show', loan %>
            <%= link_to 'Edit', edit_loan_path(loan) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <% content_for :page_scripts do %>
    <script>
      function readyy(){
        let oTable = $('#loans-table').DataTable({ pageLength: 50}); 
        $('#myInputTextFielddddd').keyup(function(){
            oTable.search($(this).val()).draw() ;
        })
      }
      $(document).ready(readyy)
    </script>

  <% end %>
  </div>
</div>