<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @investor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @investor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @investor.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @investor.phone_number %>
</p>

<p>
  <strong>Position:</strong>
  <%= @investor.position %>
</p>

<p>
  <strong>Details:</strong>
  <%= @investor.details %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @investor.occupation %>
</p>

<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
