<p id="notice"><%= notice %></p>

<p>
  <strong>Investor:</strong>
  <%= @payout.investor.first_name %>
</p>

<p>
  <strong>Contribution:</strong>
  <%= @payout.contribution.amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payout.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payout.date %>
</p>

<%= link_to 'Edit', edit_payout_path(@payout) %> |
<%= link_to 'Back', payouts_path %>
